<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://LT-test.com/" />
    <title>Leadtech front test</title>
    <meta name="description" content="Test propuesto por Leadtech para prueba técnica">
    <meta name="keywords" content="html,SEO,test,Leadtech" />
    <meta property="fb:admins" content="Leadtech" />
    <meta property="og:title" content="Leadtech front test" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://LT-test.com.com/" />
    <meta property="og:image" content="https://LT-test.com.jpg" />
    <meta property="og:description" content="Leadtech front test" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="alternate" hreflang="es" href="https://LT-test.com/spanish/" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/Content/CSS/Estilos.css" type="text/css">
</head>

<body>
    <main>
        <section class="landingPage_backgroundContainer">
            <div class="landingPage_backgroundRockImage">
            </div>
            <div class="landingPage_backgroundImage">
                <img src="/Content/img/background.jpg" alt="">
            </div>

        </section>

        <section class="landingPage_sliderContainer">
            <img class="landingPage_logo" src="/Content/img/logo.png" alt="Astronaut">
            <div class="landingPage_message">
                <img src="/Content/img/icon_rocket.png" alt="Launch off!">
                <h4 class="message-primaryTitle">Your trip start here</h4>
                <div class="icon-secondaryBar"></div>
                <h4>#moontrip #visamoon</h4>
            </div>
            <div class="landingPage_slogan">
                <h1 class="">Visa to the moon</h1>
                <h1 class="landingPage_slogan2" style="display: none">Explore the surface</h1>
                <a href="#" class="ctaButton">Start your trip ></a>
            </div>

            <div class="landingPage_cta">
            </div>

            <div class="landingPage_sliderControl">

            </div>
            <div class="landingPage_sliderImage">

            </div>
        </section>

    </main>
</body>

</html>