@font-face {
    font-family: "Merriwheater";
    src: url("/Fonts/Merriweather-Regular.ttf") format("ttf");
  }

@font-face {
    font-family: "Montserrat";
    src: url("/Fonts/Montserrat-Regular.ttf") format("ttf");
  }