//Layout
main{
    //Grid para controlar los margenes "block"
    display: grid;
    grid-template-columns:100vw;
    grid-template-rows: 2vh auto 5vh;
        height:100vh;

}
//Flex de imagenes de background para responsive
.landingPage_backgroundContainer{
    //Full grid
    grid-row: 1 / -1;
    grid-column: 1 / -1;

    .landingPage_backgroundRockImage {
        height:90%;
        width:68.6%;
        position: absolute;
        z-index: -1;
        top:2%;
        border:none;
        left: -25%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, transparent 100%), url(/Content/Img/rock.jpg), no-repeat;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .landingPage_backgroundImage {
        height:90%;
        width:71vw;
        position: absolute;
        z-index: -1;
        right:5%;
        top:2%;
        border:none;
        img{
            width: 100%;
            height: 100%;

        } 
    }
}


//Grid de contenido para colocar manualmente
.landingPage_sliderContainer{
    //Solamente en middle row
    grid-row:2/3;
    grid-column: 1/-1;
    
    height: 100%;;
    display: grid;
    z-index: 2;
    grid-template-rows: 35% auto 27%;
    grid-template-columns: 24vw 25vw 23vw 26vw;
    grid-template-areas: "logo message . slider"
                         "slogan slogan slogan slider"
                         ". . control .";

    .landingPage_logo{
        justify-self: flex-end;
        align-self:center;
        grid-area: logo;
        max-width: 220px;
        width:25vw;
        margin-right: 5em;
        margin-top: -1em;
    }

    .landingPage_messageLayout{
        grid-area: message;
        grid-row: 1 / 3 ;
        justify-self: center ;
        background-color:rgba(0, 0, 0, 0.1) ;
        height: 80%;
        width: 100%;

        .landingPage_messageContainer{
            padding: 3em 2.5em;

            .message_primaryTitle{
                font-size: 30px;
                font-style: normal;
                font-weight: 500;
                margin:0;
                margin-bottom: 10px;
            }
            .icon_secondaryBar{
               width: 94px;
               height: 3px;
               background-color: $primary-color;
            }

            .message_hashtag{
                margin-top:0.5em;
                font-size: 25px;
                width:50%;
            }
        }


    }
    .landingPage_slogan{
        grid-area: slogan;
        justify-self: center;
        width: 65%;
        margin:0;
        h1{
            margin-top: 10px;
        }

    }

    .landingPage_sliderControl{
        grid-area: control;
        background-color: $dark-brackground;
        height: 105%;
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-template-rows: 1fr 1fr;
        grid-template-areas:  ". progress progress progress ."
                              ". back . forward .";

        .progress_container{
            place-self: center;
            grid-area: progress;
        }

        .slider_backContainer{
            grid-area: back;

        }

        .slider_forwardContainer{
            grid-area: forward;
            justify-self: flex-end;
        }

    }
    .landingPage_sliderImage{
        grid-area: slider;
        transition: all 2s ease-in-out;

        .sliderImage_rocketPhoto{
            background-image:  url(/Content/img/rocket.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100%;

        }

        .sliderImage_moonPhoto{
            background: url(/Content/img/background-moon.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100%;

        }
        
    }
}