//Forzamos border-box en toda la aplicación con selector de buho lobotomizado
*, *+* {
    box-sizing: border-box;
}

body{
    background-color: $background-color;
    color: white;
}


h1{
    font-family: "Montserrat", sans-serif;
    font-size: 90px;
}

h2, h3{
    font-family: "Merriwheater", serif;
}

h3{
    font-style: oblique;
    
}
h4{
    font-style: italic;
    font-size: 20px;;
    
}

a{
    font-family: "Merriwheater", serif;
    font-style: initial;
}
