//Forzamos border-box en toda la aplicación con selector de buho lobotomizado
*, *+* {
    box-sizing: border-box;
}

body{
    background-color: $background-color;
    color: white;
}
main{
    min-height: 100vh;;
}

h1{
    font-family: "Montserrat", sans-serif;
    font-size: 100px;
}

h2, h3{
    font-family: "Merriwheater", serif;
}

h3{
    font-style: italic;
}